.container{

}

.container .block{
    padding:20px;
    color: white;
    font-size: 4em;
    font-weight:bold;
    text-align:center;
}

.block.block1{

 }
.block.block2{

}
.block.block3{

}
.block.block4{

}
.block.block5{

}
.block.block6{

}
.block.block7{

}
.block.block8{

}
