#matchingField {
    display: grid;
    justify-content: center;
    gap: 20px;
}

.matchImage {
    width: 150px;
    height: 180px;
}

.matchFigure {
    margin: 0;
    background-color: blue;
    height: 180px;
    width: 150px;
}

.hide {
    visibility: hidden;
}